{% extends parent_template %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ base_static_folder }}/css/admin_chrome.css">
{% endblock %}

{% block scripts %}
<script type="text/javascript" language="javascript" src="{{ base_static_folder }}/js/description_controller.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div id="subscription-update-containter" class="col-xs-12">
        <div class="row">
            <div class="col-xs-2">
                <th id="selection-header">Manage this list</th>
            </div>
            <div class="col-xs-2">
                <th id="list-name-header">List Name</th>
            </div>
            <div class="col-xs-8">
                <th>Description</th>
            </div>
        </div>
        {% for list in lists|sort(attribute='name') %}
        <div class="row list-object">
            <div class="col-xs-2">
                <input type="checkbox" class="list-is-selected" {% if list.is_managed %}checked{% endif %}>
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control list-name" value="{{ list.name }}" readonly>
            </div>
            <div class="col-xs-8">
                <textarea class="form-control list-description" rows="5">{{ list.description }}</textarea>
            </div>
        </div>
        {% endfor %}
        <div class="row" id="is-selected-select-all-container">
            <div class="col-xs-12">
                <input type="checkbox" id="is-selected-select-all" name="is-selected-select-all">
                <label for="is-selected-select-all" id="select-all-toggle-text">Select All
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button id="subscriptions-update-button" class="btn btn-default">Save</button>
                <img id="ajax-loader" src="{{ base_static_folder }}/image/ajax-loader.gif" alt="Working..." height="16" width="16">
            </div>
        </div>
        <div class="row">
            <div id="update-status-container" class="col-xs-12">
                <p id="update-message"></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
