<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ app_title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ base_static_folder }}/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ base_static_folder }}/css/base.css">
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div id="content-area" class="container-fluid">
            <div id="confirmation-message-display"></div>
            <div id="header-bar">
                <div class="row">
                    <div class="col-md-12" id="product-id"><h1>{{ app_title }}</h1></div>
                </div>
            </div>
            {% block tinysubscriptions_content %}{% endblock %}
        </div>

        <script src="{{ base_static_folder }}/js/lib/jquery-1.11.0.min.js"></script>
        <script src="{{ base_static_folder }}/js/lib/bootstrap.min.js"></script>
        {% block scripts %}{% endblock %}

    </body>
</html>
